<nav class="navbar bg-dark navbar-expand-lg bg-light text-secondary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Juan Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          {% if user.is_authenticated %}
            <h4 class="mx-2">Olá, {{ user.username }}</h4>
            <button class="btn btn-outline-light mx-2" type="submit">Search</button>
            <a class="btn btn-outline-light" type="submit" href="{% url 'logout' %}">Sair</a>
          {% else %}
            <a class="btn btn-outline-light" type="submit" href="{% url 'login' %}">Acessar</a>
          {% endif %}

          
        </form>
      </div>
    </div>
  </nav>